<% layout('layouts/preLoginOut.ejs') %>
<form class="row g-4" action="/login" method="post" >

<div class="row">
    <div class="col">
      <input type="email" name="userName" class="form-control" placeholder="Username" aria-label="Username">
    </div>
    <div class="col">
      <input type="password" name="password" class="form-control" placeholder="password" aria-label="password">
    </div>
  </div>
  
  <button type="submit" class="btn btn-primary" >Login</button>

  </form>