<% layout('layouts/skelton.ejs') %>
<title>New Category</title>
<form class="row g-3" method="post">
    <div class="col-md-6">
      <label for="inputCategoryName" class="form-label">Category Name</label>
      <input type="test" class="form-control" id="inputCategoryName" name="name">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" id="addCategoryBtn">Add</button>
    </div>
  </form>
<!--   <script src="/javascripts/clientCategory.js"></script>
 -->