<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color:#184f7f;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Cost Manager</a>
        <div class="d-flex justify-content-center " style="color: aliceblue;">
            <div id="time">        
                <!-- <i class= "bi bi-clock"> </i> -->
                <span id="currentTime" class="text-muted"></span>

            </div>
        </div>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navbar-nav navbar-right ml-auto">
          
            <li class="nav-item"><a class="nav-link" href="/"><span class="glyphicon glyphicon-log-in"></span>Home</a></li>
          </ul>
       
    </div>
</nav>