<% layout('layouts/skelton.ejs') %>

  <div class="alert alert-danger" role="alert">
    <h1>&#128721;  Oh No! &#128721; </h1>

    <h4 class="alert-heading">
      <%= msg %> &#128532;
    </h4>
    
    <hr>


    <a type="button" class="btn btn-outline-secondary" href="/users/new">Try Again</a>

  </div>