<% layout('layouts/skelton.ejs') %>
<div class="shadow-sm p-3 mb-5  rounded" style="background: rgb(191, 218, 236);">
    <div class="text-center text-muted fs-2" >Credits</div>
</div>

    <div class="row ">
        <div class="col-sm-6">
            <div class="card shadow-sm p-3 mb-5 bg-body rounded"
                style="background-image: url('/images/money.gif'); background-repeat: no-repeat; background-size: 10%; background-position: right; ">
                <div class="card-body">
                    <h5></h5>
                    <p class="card-text">
                        <a href="https://www.flaticon.com/free-animated-icons/business"
                            title="business animated icons">Business animated icons created by Freepik - Flaticon</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card shadow-sm p-3 mb-5 bg-body rounded"
                style="background-image: url('/images/report.gif'); background-repeat: no-repeat; background-size: 10%; background-position: right; ">
                <div class="card-body">
                    <h5></h5>
                    <p class="card-text">
                        <a href="https://www.flaticon.com/free-animated-icons/list" title="list animated icons">List
                            animated icons created by Freepik - Flaticon</a>
                    </p>
                </div>
            </div>
        </div>

    </div>