<% layout('layouts/skelton.ejs') %>

<title>Cost Manager</title>

<div class="jumbotron">
    <h3 class="display-4">Hi <%= user.first_name %>  &#128075; &#128075;</h3>
    <p class="lead">Are you new or old user?</p>
    <hr class="my-4">
    <p></p>
    <p class="lead">
       

    </p>
  </div>