<% layout('layouts/preLoginOut.ejs') %>
<title>Enter Screen</title>
<div class="jumbotron position-absolute top-50 start-50 translate-middle"">
    <h1 class="display-4">Hi And Welcome &#128075; &#128075;</h1>
    <p class="lead">Are you new or old user?</p>
    <hr class="my-4">
    <p></p>
    <div class="lead d-flex justify-content-center ">
        <div class="class="btn-group" role="group" aria-label="Basic outlined example"">
        <a type="button" class="btn btn-outline-primary btn-m-10" href="/signUp">
            I'm new user <i class="bi bi-person-plus"></i></a>
        <a type="button" class="btn btn-outline-success" href="/login">Take me in</a>
        <!-- <a type="button" class="btn btn-outline-success" href="/login">Old User</a> -->
    </div>

        </div>
  </div>






